# Dependencies
node_modules/

# Next.js build output
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env files
.env*
!.env.example

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Firebase
.firebase/
firebase-debug.log*
*-debug.log

# next-video
videos/*
!videos/*.json
!videos/*.js
!videos/*.ts
public/_next-video
