@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {
   
  }
}

html {
  height: 100vh;
  background-color: white;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  height:100%;
}

.btn {
  --color: #ac8bf1;
  --color2: white;
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: .3px solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--color);
 }
 
 .btn::after, .btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 }
 
 .btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .btn:hover {
  color: var(--color2);
 }
 
 .btn:active {
  filter: brightness(.7);
  transform: scale(.98);
 }

 /* Send button */
 .cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Technologies slide */
.img-banner {
height:200px;
width:auto;
object-fit: contain;
}

.img-banner:last-of-type {
  padding-left: 0;
}

#html, #css {
scale:70%
}

 #java, #thymeleaf {
  scale:130%;
}

#tailwind, #angular, #spring, #asp {
  scale:170%;
}

#spring {
  padding-right:15%;
}

#angular {
  padding-left:15%;
}

#javascript {
  scale:70%
}

#bootstrap, #typescript, #wpf {
  scale:65%;
}

#entity, #react, #oracle, #mysql {
  scale:120%;
}

.inner-banner {
  left:0;
  display: flex;
}

.wrapper-banner {
  position: relative;
  display: flex;
  gap:4rem;
  height:200px;

}

section {
  width:100px;
  display: flex;
  justify-content: space-around;
  animation: swipe var(--speed) linear infinite;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Project Gifs */
.bg-petCare {
  background-image: url('images/FramePetCare.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.bg-petCare:hover {
  background-image: url('gifs/PetCareTracker.gif');
}


.bg-cliniqueClic {
  background-image: url('images/FrameClinique.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.bg-cliniqueClic:hover {
  background-image: url('gifs/CliniqueClic.gif');
}

.bg-lePendu {
  background-image: url('images/FramePendu.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.bg-lePendu:hover {
  background-image: url('gifs/LePendu.gif');
}

.bg-gradeFlow {
  background-image: url('images/FrameGradeflow.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.bg-gradeFlow:hover {
  background-image: url('gifs/GradeFlow.gif');
}

.bg-lalalandYoga {
  background-image: url('images/FrameLalaland.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.bg-lalalandYoga:hover {
  background-image: url('gifs/LalalandYoga.gif');
}

.bg-parrotMentor {
  background-image: url('images/FrameParrot.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.bg-parrotMentor:hover {
  background-image: url('gifs/ParrotMentor.gif');
}

/* Slide Panel Header */
.slide-pane__header{
  background-color: #ac8bf1 !important;
}

/* Slide Panel Content */
.slide-pane__content{
  background-color: #ececec !important;
}

/* Slide Panel Close Button */
.slide-pane__close {
  color: white !important;
}

/* Slide Panel Title */
.slide-pane__title {
  color: white !important;
  font-size: medium !important;
  font-weight: none !important;
}


@layer utilities {

}


/* Looper styles */
@keyframes slideAnim {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.looper {
  width: 100%;
  overflow: hidden;
}

.looper__innerList {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.looper__innerList[data-animate="true"] .looper__listInstance {
  animation: slideAnim linear infinite;   
}

.looper__listInstance {
  display: flex;
  width: max-content;
  height:100%;
  animation: none;
}

.contentBlock-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 16px; 
  font-weight: 600;
  text-align: center;
}

.contentBlock-techs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  font-weight: 600;
  text-align: center;
}

.contentBlock--one {  
  width: 120px;
  background: rgba(255, 255, 255, 0.05);    
  font-weight: 600;
  font-size: 18px; 
}
.contentBlock--one:last-of-type {
  color: var(--green);
  margin-right: 36px;
}
.contentBlock--two {    
  color: var(--green);  
  font-size: 48px;
  background: rgba(255, 255, 255, 0.05);  
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #AC8BF1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}